abrt/
akonadi/
akonadi_contacts_resource_0rc
akonadi-firstrunrc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
arkrc
autostart/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
breezerc
btop/
dconf/
discoverrc
dolphinrc
dragonplayerrc
elisarc
emaildefaults
emailidentities
filetypesrc
fontconfig/
go/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
ibus/
imsettings/
kactivitymanagerdrc
kactivitymanagerd-statsrc
kalendaracrc
katevirc
kcminputrc
kconf_updaterc
KDE/
kdeconnect/
kdeconnect.apprc
kded5rc
kdedefaults/
kdeglobals
kde.org/
kfontinstuirc
kglobalshortcutsrc
khelpcenterrc
kiorc
klavaro/
kmenueditrc
knfsshare
kolourpaintrc
konsolerc
konsolesshconfig
krunnerrc
kservicemenurc
ktimezonedrc
ktrashrc
kuriikwsfilterrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwriterc
libaccounts-glib
libreoffice/
mimeapps.list
nwg-panel/
okularrc
onlyoffice/
PlasmaDiscoverUpdates
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
plasma-welcomerc
plasma-workspace/
powermanagementprofilesrc
procps/
pulse/
qalculate/
qt5ct/
qt6ct/
QtProject/
QtProject.conf
sddmthemeinstallerrc
sealert.conf
session/
specialmailcollectionsrc
spectaclerc
systemmonitorrc
systemsettingsrc
Thonny/
trashrc
Trolltech.conf
Unknown Organization/
user-dirs.dirs
user-dirs.locale
vlc/
xsettingsd/
waypaper/config.ini
